ConsumingWebServiceASP.NET/App_WebReferences/ServiceTinTuc/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="checkSession">
        <s:complexType />
      </s:element>
      <s:element name="checkSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkSessionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayDuLieu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="table" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LayDuLieuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LayDuLieuResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemDuLieuDanhMuc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tendanhmuc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemDuLieuDanhMucResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemDuLieuDanhMucResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapNhatDuLieuDanhMuc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="madanhmuc" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tendanhmuc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapNhatDuLieuDanhMucResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CapNhatDuLieuDanhMucResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemDuLieuBaiViet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tieude" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tomtat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noidung" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hinhthunho" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chuthichhinh" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="luotxem" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ngaydang" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="manguoidung" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="madanhmuc" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemDuLieuBaiVietResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemDuLieuBaiVietResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapNhatDuLieuBaiViet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mabaiviet" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tieude" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tomtat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noidung" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hinhthunho" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chuthichhinh" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="luotxem" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ngaydang" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="manguoidung" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="madanhmuc" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapNhatDuLieuBaiVietResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CapNhatDuLieuBaiVietResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemDuLieuNguoiDung">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TenNguoiDung" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MatKhau" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HinhDaiDien" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NgaySinh" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SDT" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="GioiTinh" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="VaiTro" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemDuLieuNguoiDungResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemDuLieuNguoiDungResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapNhatDuLieuNguoiDung">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="manguoidung" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TenNguoiDung" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MatKhau" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HinhDaiDien" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="NgaySinh" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SDT" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="GioiTinh" type="s:unsignedByte" />
            <s:element minOccurs="1" maxOccurs="1" name="VaiTro" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapNhatDuLieuNguoiDungResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CapNhatDuLieuNguoiDungResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemDuLieuBinhLuan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="noidung" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ngaydang" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="manguoidung" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="mabaiviet" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemDuLieuBinhLuanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemDuLieuBinhLuanResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapnhatDuLieuBinhLuan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mabinhluan" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="noidung" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="manguoidung" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="mabaiviet" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapnhatDuLieuBinhLuanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CapnhatDuLieuBinhLuanResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemDuLieuFileUpload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tenfile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chuthichfile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemDuLieuFileUploadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemDuLieuFileUploadResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chuthichfile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contentType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytes" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="CapNhatDuLieuFileUpload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mafile" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="tenfile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chuthichfile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CapNhatDuLieuFileUploadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CapNhatDuLieuFileUploadResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaDuLieu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tenbang" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dieukien" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XoaDuLieuResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="checkSessionSoapIn">
    <wsdl:part name="parameters" element="tns:checkSession" />
  </wsdl:message>
  <wsdl:message name="checkSessionSoapOut">
    <wsdl:part name="parameters" element="tns:checkSessionResponse" />
  </wsdl:message>
  <wsdl:message name="LayDuLieuSoapIn">
    <wsdl:part name="parameters" element="tns:LayDuLieu" />
  </wsdl:message>
  <wsdl:message name="LayDuLieuSoapOut">
    <wsdl:part name="parameters" element="tns:LayDuLieuResponse" />
  </wsdl:message>
  <wsdl:message name="ThemDuLieuDanhMucSoapIn">
    <wsdl:part name="parameters" element="tns:ThemDuLieuDanhMuc" />
  </wsdl:message>
  <wsdl:message name="ThemDuLieuDanhMucSoapOut">
    <wsdl:part name="parameters" element="tns:ThemDuLieuDanhMucResponse" />
  </wsdl:message>
  <wsdl:message name="CapNhatDuLieuDanhMucSoapIn">
    <wsdl:part name="parameters" element="tns:CapNhatDuLieuDanhMuc" />
  </wsdl:message>
  <wsdl:message name="CapNhatDuLieuDanhMucSoapOut">
    <wsdl:part name="parameters" element="tns:CapNhatDuLieuDanhMucResponse" />
  </wsdl:message>
  <wsdl:message name="ThemDuLieuBaiVietSoapIn">
    <wsdl:part name="parameters" element="tns:ThemDuLieuBaiViet" />
  </wsdl:message>
  <wsdl:message name="ThemDuLieuBaiVietSoapOut">
    <wsdl:part name="parameters" element="tns:ThemDuLieuBaiVietResponse" />
  </wsdl:message>
  <wsdl:message name="CapNhatDuLieuBaiVietSoapIn">
    <wsdl:part name="parameters" element="tns:CapNhatDuLieuBaiViet" />
  </wsdl:message>
  <wsdl:message name="CapNhatDuLieuBaiVietSoapOut">
    <wsdl:part name="parameters" element="tns:CapNhatDuLieuBaiVietResponse" />
  </wsdl:message>
  <wsdl:message name="ThemDuLieuNguoiDungSoapIn">
    <wsdl:part name="parameters" element="tns:ThemDuLieuNguoiDung" />
  </wsdl:message>
  <wsdl:message name="ThemDuLieuNguoiDungSoapOut">
    <wsdl:part name="parameters" element="tns:ThemDuLieuNguoiDungResponse" />
  </wsdl:message>
  <wsdl:message name="CapNhatDuLieuNguoiDungSoapIn">
    <wsdl:part name="parameters" element="tns:CapNhatDuLieuNguoiDung" />
  </wsdl:message>
  <wsdl:message name="CapNhatDuLieuNguoiDungSoapOut">
    <wsdl:part name="parameters" element="tns:CapNhatDuLieuNguoiDungResponse" />
  </wsdl:message>
  <wsdl:message name="ThemDuLieuBinhLuanSoapIn">
    <wsdl:part name="parameters" element="tns:ThemDuLieuBinhLuan" />
  </wsdl:message>
  <wsdl:message name="ThemDuLieuBinhLuanSoapOut">
    <wsdl:part name="parameters" element="tns:ThemDuLieuBinhLuanResponse" />
  </wsdl:message>
  <wsdl:message name="CapnhatDuLieuBinhLuanSoapIn">
    <wsdl:part name="parameters" element="tns:CapnhatDuLieuBinhLuan" />
  </wsdl:message>
  <wsdl:message name="CapnhatDuLieuBinhLuanSoapOut">
    <wsdl:part name="parameters" element="tns:CapnhatDuLieuBinhLuanResponse" />
  </wsdl:message>
  <wsdl:message name="ThemDuLieuFileUploadSoapIn">
    <wsdl:part name="parameters" element="tns:ThemDuLieuFileUpload" />
  </wsdl:message>
  <wsdl:message name="ThemDuLieuFileUploadSoapOut">
    <wsdl:part name="parameters" element="tns:ThemDuLieuFileUploadResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="CapNhatDuLieuFileUploadSoapIn">
    <wsdl:part name="parameters" element="tns:CapNhatDuLieuFileUpload" />
  </wsdl:message>
  <wsdl:message name="CapNhatDuLieuFileUploadSoapOut">
    <wsdl:part name="parameters" element="tns:CapNhatDuLieuFileUploadResponse" />
  </wsdl:message>
  <wsdl:message name="XoaDuLieuSoapIn">
    <wsdl:part name="parameters" element="tns:XoaDuLieu" />
  </wsdl:message>
  <wsdl:message name="XoaDuLieuSoapOut">
    <wsdl:part name="parameters" element="tns:XoaDuLieuResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="checkSession">
      <wsdl:input message="tns:checkSessionSoapIn" />
      <wsdl:output message="tns:checkSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LayDuLieu">
      <wsdl:input message="tns:LayDuLieuSoapIn" />
      <wsdl:output message="tns:LayDuLieuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThemDuLieuDanhMuc">
      <wsdl:input message="tns:ThemDuLieuDanhMucSoapIn" />
      <wsdl:output message="tns:ThemDuLieuDanhMucSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CapNhatDuLieuDanhMuc">
      <wsdl:input message="tns:CapNhatDuLieuDanhMucSoapIn" />
      <wsdl:output message="tns:CapNhatDuLieuDanhMucSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThemDuLieuBaiViet">
      <wsdl:input message="tns:ThemDuLieuBaiVietSoapIn" />
      <wsdl:output message="tns:ThemDuLieuBaiVietSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CapNhatDuLieuBaiViet">
      <wsdl:input message="tns:CapNhatDuLieuBaiVietSoapIn" />
      <wsdl:output message="tns:CapNhatDuLieuBaiVietSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThemDuLieuNguoiDung">
      <wsdl:input message="tns:ThemDuLieuNguoiDungSoapIn" />
      <wsdl:output message="tns:ThemDuLieuNguoiDungSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CapNhatDuLieuNguoiDung">
      <wsdl:input message="tns:CapNhatDuLieuNguoiDungSoapIn" />
      <wsdl:output message="tns:CapNhatDuLieuNguoiDungSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThemDuLieuBinhLuan">
      <wsdl:input message="tns:ThemDuLieuBinhLuanSoapIn" />
      <wsdl:output message="tns:ThemDuLieuBinhLuanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CapnhatDuLieuBinhLuan">
      <wsdl:input message="tns:CapnhatDuLieuBinhLuanSoapIn" />
      <wsdl:output message="tns:CapnhatDuLieuBinhLuanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThemDuLieuFileUpload">
      <wsdl:input message="tns:ThemDuLieuFileUploadSoapIn" />
      <wsdl:output message="tns:ThemDuLieuFileUploadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input message="tns:UploadFileSoapIn" />
      <wsdl:output message="tns:UploadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CapNhatDuLieuFileUpload">
      <wsdl:input message="tns:CapNhatDuLieuFileUploadSoapIn" />
      <wsdl:output message="tns:CapNhatDuLieuFileUploadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XoaDuLieu">
      <wsdl:input message="tns:XoaDuLieuSoapIn" />
      <wsdl:output message="tns:XoaDuLieuSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="checkSession">
      <soap:operation soapAction="http://tempuri.org/checkSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayDuLieu">
      <soap:operation soapAction="http://tempuri.org/LayDuLieu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemDuLieuDanhMuc">
      <soap:operation soapAction="http://tempuri.org/ThemDuLieuDanhMuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatDuLieuDanhMuc">
      <soap:operation soapAction="http://tempuri.org/CapNhatDuLieuDanhMuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemDuLieuBaiViet">
      <soap:operation soapAction="http://tempuri.org/ThemDuLieuBaiViet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatDuLieuBaiViet">
      <soap:operation soapAction="http://tempuri.org/CapNhatDuLieuBaiViet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemDuLieuNguoiDung">
      <soap:operation soapAction="http://tempuri.org/ThemDuLieuNguoiDung" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatDuLieuNguoiDung">
      <soap:operation soapAction="http://tempuri.org/CapNhatDuLieuNguoiDung" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemDuLieuBinhLuan">
      <soap:operation soapAction="http://tempuri.org/ThemDuLieuBinhLuan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapnhatDuLieuBinhLuan">
      <soap:operation soapAction="http://tempuri.org/CapnhatDuLieuBinhLuan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemDuLieuFileUpload">
      <soap:operation soapAction="http://tempuri.org/ThemDuLieuFileUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatDuLieuFileUpload">
      <soap:operation soapAction="http://tempuri.org/CapNhatDuLieuFileUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaDuLieu">
      <soap:operation soapAction="http://tempuri.org/XoaDuLieu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="checkSession">
      <soap12:operation soapAction="http://tempuri.org/checkSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LayDuLieu">
      <soap12:operation soapAction="http://tempuri.org/LayDuLieu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemDuLieuDanhMuc">
      <soap12:operation soapAction="http://tempuri.org/ThemDuLieuDanhMuc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatDuLieuDanhMuc">
      <soap12:operation soapAction="http://tempuri.org/CapNhatDuLieuDanhMuc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemDuLieuBaiViet">
      <soap12:operation soapAction="http://tempuri.org/ThemDuLieuBaiViet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatDuLieuBaiViet">
      <soap12:operation soapAction="http://tempuri.org/CapNhatDuLieuBaiViet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemDuLieuNguoiDung">
      <soap12:operation soapAction="http://tempuri.org/ThemDuLieuNguoiDung" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatDuLieuNguoiDung">
      <soap12:operation soapAction="http://tempuri.org/CapNhatDuLieuNguoiDung" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemDuLieuBinhLuan">
      <soap12:operation soapAction="http://tempuri.org/ThemDuLieuBinhLuan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapnhatDuLieuBinhLuan">
      <soap12:operation soapAction="http://tempuri.org/CapnhatDuLieuBinhLuan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemDuLieuFileUpload">
      <soap12:operation soapAction="http://tempuri.org/ThemDuLieuFileUpload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CapNhatDuLieuFileUpload">
      <soap12:operation soapAction="http://tempuri.org/CapNhatDuLieuFileUpload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XoaDuLieu">
      <soap12:operation soapAction="http://tempuri.org/XoaDuLieu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44324/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44324/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>